:root {
  --color-blue: #11245C;
  --color-black: black;
  --color-white: white;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}


.header__avi {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 20%;
}

.content-box {
  background: var(--color-blue);
  min-height: 10rem;
  padding: 1.78rem;
  margin-bottom: 1rem;
  border-top: 1rem solid var(--color-black)
}

.content-box__header {
  text-align: center;
  text-transform: uppercase;
}
.header__text {
  text-align: center;
}

.content-box__paragraph {
  text-align: center;
}

.content-box__paragraph--bold {
  font-weight: 700;
}

.content-box__icon  {
  text-align: center;
  display: inline-block;
  width: 100%;
 
}

.content-box__list { 
  text-align: center; 
  list-style-position: inside;
}

.content-box__list-Item {
  margin: 1rem;
}

.content-box__button {
  display: block;
  margin: 0 auto;
  padding: 0.7rem;
  background: var(--color-blue);
  color: var(--color-white);
  border: 0.06rem white solid;
  border-radius: 5%;
}

.content-box__button:hover {
  background: var(--color-black);;
  cursor: pointer;
}

.header__hero {
  display: none;
}



@media (min-width: 64em) {

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: var(--color-blue)
}


.header__hero {
  display: block;
  grid-column: 1/2;
  grid-row: 1/3;
}

.header__avi {
 display: none
}

.wrapper {
  margin: 1.5rem;
}

.content-box__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content-box__list {
  line-height: 1.8rem;
}
.content-box {
  border-top: 0;
  border: 10px solid var(--color-black);
}

}